@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="color-red">
    <h1 class="">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum orci tincidunt, semper magna nec, dignissim lacus. Sed lobortis porta velit lacinia pulvinar. Maecenas varius malesuada feugiat. Sed id interdum tortor. Cras vehicula iaculis suscipit. Nunc lobortis vel sapien eget congue. Sed tempor quis felis non ullamcorper.

        Pellentesque volutpat ornare mauris eget vestibulum. Duis sed est vel tortor tristique finibus. Fusce fermentum odio at nisl posuere, ut faucibus ipsum dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sed sollicitudin libero. Ut efficitur sodales molestie. In et elit vitae sem rutrum tincidunt ac non elit. Proin tempor dui eu fringilla finibus. Cras nisi dui, scelerisque sit amet gravida ut, dapibus ac nibh.

        Nullam a diam non tortor gravida tempus vel et elit. Suspendisse ultrices neque metus, nec elementum dui maximus sed. Curabitur quis porttitor leo. Maecenas nec est vitae tellus laoreet bibendum. Sed magna nibh, vehicula vitae viverra porta, ultricies non ipsum. Vivamus porttitor quis magna ut ullamcorper. Integer sollicitudin sodales quam id iaculis. Ut interdum vestibulum purus, ut suscipit mauris vulputate id. Donec vel sagittis tellus, eu consequat eros. Nam at finibus eros, nec faucibus neque. Duis malesuada eros at eleifend iaculis. Nunc a nunc lacus. Ut dapibus nisi eget lacus consequat, ac suscipit nunc lobortis. Donec vel aliquet sem. Pellentesque et imperdiet elit.

        Pellentesque nisl felis, consectetur ut fermentum ut, sagittis eget nisl. Pellentesque eu ante sed lacus luctus laoreet. Duis sem mauris, hendrerit in finibus id, vulputate commodo quam. Sed aliquet massa quis metus scelerisque malesuada. Aenean tincidunt est at erat vestibulum consequat. Duis posuere feugiat laoreet. Donec gravida eros in nisl dapibus viverra. Curabitur ut placerat eros, vel euismod nisl. Proin molestie sollicitudin lectus dictum aliquam. Suspendisse et commodo lorem, et sollicitudin ipsum. Quisque dapibus in ante non maximus. Phasellus sodales non eros et convallis. Nam rhoncus, sem ut viverra fringilla, eros velit vestibulum mi, vel tincidunt nunc risus in leo. Aenean non tempor urna.

        Nulla commodo ornare lorem in tempor. Nunc eleifend pharetra mauris, in venenatis felis rutrum ac. Aliquam non nulla blandit, imperdiet nunc ac, luctus est. Donec commodo et ante id fringilla. Vestibulum porta egestas consectetur. Vestibulum id diam vel quam tincidunt ornare nec sed risus. Phasellus ut consectetur odio. Etiam eget ipsum venenatis, pulvinar odio vel, vestibulum nibh. Nam scelerisque sapien vitae sapien malesuada, ut placerat sem mollis. Sed convallis turpis vitae sem elementum, in efficitur orci suscipit.
    </p>
</div>
